

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Praveen Training Tool</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />

</head>
<body>
	<div class="topnav">
		  <a href="{{ url_for('adminprofile') }}">My Profile</a>
          <a href="{{ url_for('equipment') }}">Add New Equipment</a>
          <a class="active" href="#viewequipments">View All Equipments</a>
          <a href="{{ url_for('addusers') }}">User Management</a>
          <a href="{{ url_for('viewusers') }}">View All Users</a>
		<a href="{{ url_for('logout') }}">Logout</a>
	</div>
	<br><br>


	 <div class="divtable">
	  <table class="gridtable" >
	  <tr>
		  <th>Equipment Type</th>
		  <th>Name</th>
		  <th>SKU #</th>
		  <th>Description</th>
		  <th>Available From</th>
		  <th>Quantity</th>
		  <th>Estimated Cost (in CAD)</th>
	  </tr>
	  <tr>
		  {% for equipmentlist in msg %}
    	<tr>
      		<td>{{equipmentlist['EquipmentType']}}</td>
      		<td>{{equipmentlist['Name']}}</td>
		  	<td>{{equipmentlist['SKU']}}</td>
		  	<td>{{equipmentlist['Description']}}</td>
		  	<td>{{equipmentlist['AvailableFrom']}}</td>
		  	<td>{{equipmentlist['Quantity']}}</td>
		  	<td>{{equipmentlist['Cost']}}</td>

    	</tr>
  			{% endfor %}

	  </tr>
	  </table>

    </div>

   
</body>

</html>

