<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Vancouver Retailer</title>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/styles.css') }}"
    />
  </head>
  <body>
    <section class="congratulations">
      <h3>ABC Equipment Rentals</h3>
      <p>Equipment Rental Services</p>
    </section>

    <section class="instructions">
      <form action="{{ url_for('menu') }}" method="POST">
        <input
          type="text"
          name="username"
          placeholder="Username"
          maxlength="10"
          required
        />
        <br />
        <input
          type="password"
          name="password"
          placeholder="Password"
          maxlength="10"
          required
        />
        <input type="hidden" name="form_submitted" value="1" />
        <input type="submit" value="Log In" class="signin" />
      </form>
      <div>
        <p style="color: red">{{msg}}</p>
      </div>
    </section>
  </body>
</html>
